# Proyecto Nº 1 - CIENCIA DE DATOS CON PYTHON

## Ejercicio Nº 1:
Escribir un programa que pregunte al usuario o genere las ventas de los últimos 5 días, y muestre por pantalla una serie (Dataframe) con los datos de las ventas por producto (opcional): Nro de unidades y precio unitario, indexada por los días, antes y después de aplicarles un descuento del 5%.

In [234]:
# Importamos las librerías numpy y pandas
import numpy as np
import pandas as pd
# Librería para imprimir diccionarios en python de forma legible
import pprint

In [235]:
# Declaramos variables
dict_periodos_ventas = {} 
rango_fechas = pd.date_range("20220901", periods=5).strftime('%d/%m/%Y')
precio_unitario = [10.,20.,15.]
# Declaramos función para solicitar cantidad vendida
def cantidad_vendida(dia,producto,dict_): 
    """
    Parámetros
    ----------
    `dia` : str(strftime)
    `producto` : str
    `dict_` : dict    

    La finalidad es pedir el ingreso de la cantidad vendida de un producto de un día específico,
    si es una cantidad negativa, solicita un nuevo ingreso
    Almacena en el diccionario fechas, producto, caantidad y precio.
    """
    ingreso = int(input(f"DIA {i} - Ingrese la cantidad vendida del PRODUCTO {j+1} (Unidades): "))
    if ingreso < 0:
        print("¡No puede tener un ingreso negativo!, ingrese nuevamente")
        cantidad_vendida(dia,producto,dict_)
    else:
        dict_[f"Producto{j+1}"]= {'Cantidad':ingreso, 'Precio':precio_unitario[j]}

#Almacena en el diccionario dict_periodos_ventas   
for i in rango_fechas:
    ventas = {}
    for j in range(0,3):
        cantidad_vendida(i,j,ventas)
    dict_periodos_ventas[str(i)] = ventas
            
    print('*'*50)
pprint.pprint(dict_periodos_ventas)

DIA 01/09/2022 - Ingrese la cantidad vendida del PRODUCTO 1 (Unidades): 15
DIA 01/09/2022 - Ingrese la cantidad vendida del PRODUCTO 2 (Unidades): 16
DIA 01/09/2022 - Ingrese la cantidad vendida del PRODUCTO 3 (Unidades): 10
**************************************************
DIA 02/09/2022 - Ingrese la cantidad vendida del PRODUCTO 1 (Unidades): 9
DIA 02/09/2022 - Ingrese la cantidad vendida del PRODUCTO 2 (Unidades): 18
DIA 02/09/2022 - Ingrese la cantidad vendida del PRODUCTO 3 (Unidades): 25
**************************************************
DIA 03/09/2022 - Ingrese la cantidad vendida del PRODUCTO 1 (Unidades): 40
DIA 03/09/2022 - Ingrese la cantidad vendida del PRODUCTO 2 (Unidades): 20
DIA 03/09/2022 - Ingrese la cantidad vendida del PRODUCTO 3 (Unidades): 12
**************************************************
DIA 04/09/2022 - Ingrese la cantidad vendida del PRODUCTO 1 (Unidades): 16
DIA 04/09/2022 - Ingrese la cantidad vendida del PRODUCTO 2 (Unidades): 20
DIA 04/09/2022 - Ingrese la cantidad vendida del PRODUCTO 3 (Unidades): 40
**************************************************
DIA 05/09/2022 - Ingrese la cantidad vendida del PRODUCTO 1 (Unidades): 25
DIA 05/09/2022 - Ingrese la cantidad vendida del PRODUCTO 2 (Unidades): 8
DIA 05/09/2022 - Ingrese la cantidad vendida del PRODUCTO 3 (Unidades): 12
**************************************************
{'01/09/2022': {'Producto1': {'Cantidad': 15, 'Precio': 10.0},
                'Producto2': {'Cantidad': 16, 'Precio': 20.0},
                'Producto3': {'Cantidad': 10, 'Precio': 15.0}},
 '02/09/2022': {'Producto1': {'Cantidad': 9, 'Precio': 10.0},
                'Producto2': {'Cantidad': 18, 'Precio': 20.0},
                'Producto3': {'Cantidad': 25, 'Precio': 15.0}},
 '03/09/2022': {'Producto1': {'Cantidad': 40, 'Precio': 10.0},
                'Producto2': {'Cantidad': 20, 'Precio': 20.0},
                'Producto3': {'Cantidad': 12, 'Precio': 15.0}},
 '04/09/2022': {'Producto1': {'Cantidad': 16, 'Precio': 10.0},
                'Producto2': {'Cantidad': 20, 'Precio': 20.0},
                'Producto3': {'Cantidad': 40, 'Precio': 15.0}},
 '05/09/2022': {'Producto1': {'Cantidad': 25, 'Precio': 10.0},
                'Producto2': {'Cantidad': 8, 'Precio': 20.0},
                'Producto3': {'Cantidad': 12, 'Precio': 15.0}}}

In [236]:
# Construimos el dataframe a partir del diccionario
df_ventas = pd.DataFrame.from_dict({(i,j): dict_periodos_ventas[i][j] 
                           for i in dict_periodos_ventas.keys() 
                           for j in dict_periodos_ventas[i].keys()},
                       orient='index')
# Agregamos las columnas Total y TotalDescuento con el 5 %
df_ventas['Total'] = df_ventas['Precio']*df_ventas['Cantidad']
descuento_5 = (df_ventas['Precio']*df_ventas['Cantidad'])*0.05
df_ventas['TotalDescuento(S/.)'] = (df_ventas['Precio']*df_ventas['Cantidad'])-descuento_5
df_ventas

                      Cantidad  Precio  Total  TotalDescuento(S/.)
01/09/2022 Producto1        15    10.0  150.0               142.50
           Producto2        16    20.0  320.0               304.00
           Producto3        10    15.0  150.0               142.50
02/09/2022 Producto1         9    10.0   90.0                85.50
           Producto2        18    20.0  360.0               342.00
           Producto3        25    15.0  375.0               356.25
03/09/2022 Producto1        40    10.0  400.0               380.00
           Producto2        20    20.0  400.0               380.00
           Producto3        12    15.0  180.0               171.00
04/09/2022 Producto1        16    10.0  160.0               152.00
           Producto2        20    20.0  400.0               380.00
           Producto3        40    15.0  600.0               570.00
05/09/2022 Producto1        25    10.0  250.0               237.50
           Producto2         8    20.0  160.0               152.00
           Producto3        12    15.0  180.0               171.00

## Ejercicio Nº 2:
Escribir un programa que reciba un diccionario con los ingresos
mensuales de los clientes de una empresa, y devuelva una serie
con el ingreso mínimo, máximo y media.
El resultado final debe ser una serie con los estadísticos.

In [238]:
# Construimos un diccionario con los ingresos mensuales de los clientes de una empresa
dict_ingresos_mensuales={
    'enero':{'cliente1':5000, 'cliente2':6000, 'cliente3':7000},
    'febrero':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'marzo':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'abril':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'mayo':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'junio':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'julio':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'agosto':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'setiembre':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'octubre':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'noviembre':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000},
    'diciembre':{'cliente1':4000, 'cliente2':3000, 'cliente3':5000}
}
pprint.pprint(dict_ingresos_mensuales)

{'abril': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'agosto': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'diciembre': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'enero': {'cliente1': 5000, 'cliente2': 6000, 'cliente3': 7000},
 'febrero': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'julio': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'junio': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'marzo': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'mayo': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'noviembre': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'octubre': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000},
 'setiembre': {'cliente1': 4000, 'cliente2': 3000, 'cliente3': 5000}}

In [239]:
df= pd.DataFrame(index=dict_ingresos_mensuales.keys())
df['cliente1'] = [value['cliente1'] for value in dict_ingresos_mensuales.values()]
df['cliente2'] = [value['cliente2'] for value in dict_ingresos_mensuales.values()]
df['cliente3'] = [value['cliente3'] for value in dict_ingresos_mensuales.values()]

# Obtiene ingreso mínimo, máximo y media.
min_max_mean = df.describe().loc[['min','max','mean']]
print(min_max_mean)
print("-"*100)
# Muestra serie de los ingresos mínimo, máximo, media
print(min_max_mean['cliente2'])

         cliente1  cliente2     cliente3
min   4000.000000    3000.0  5000.000000
max   5000.000000    6000.0  7000.000000
mean  4083.333333    3250.0  5166.666667
----------------------------------------------------------------------------------------------------
min     3000.0
max     6000.0
mean    3250.0
Name: cliente2, dtype: float64

In [240]:
# dataframe transpuesto 
df_1=df.T 
# Obtiene ingreso mínimo, máximo y media de dataframe transpuesto.
min_max_mean_t = df_1.describe().loc[['min','max','mean']]
print(min_max_mean_t)
print("-"*100)
# Muestra serie de los ingresos mínimo, máximo, media
print(min_max_mean_t['febrero'])

       enero  febrero   marzo   abril    mayo   junio   julio  agosto  \
min   5000.0   3000.0  3000.0  3000.0  3000.0  3000.0  3000.0  3000.0
max   7000.0   5000.0  5000.0  5000.0  5000.0  5000.0  5000.0  5000.0
mean  6000.0   4000.0  4000.0  4000.0  4000.0  4000.0  4000.0  4000.0

      setiembre  octubre  noviembre  diciembre
min      3000.0   3000.0     3000.0     3000.0
max      5000.0   5000.0     5000.0     5000.0
mean     4000.0   4000.0     4000.0     4000.0
----------------------------------------------------------------------------------------------------
min     3000.0
max     5000.0
mean    4000.0
Name: febrero, dtype: float64

## Ejercicio Nº 3:
Escribir programa que genere y muestre por pantalla un DataFrame
con los datos de la siguiente tabla:

In [241]:
# Construimos un dataframe
df_ventas_gastos= pd.DataFrame()
df_ventas_gastos['Mes'] = ('Enero','Febrero','Marzo','Abril','Mayo')
df_ventas_gastos['Ventas'] = (30500,35600,28300,33900,42500)
df_ventas_gastos['Gastos'] = (22000,23450,18100,35700,32450)
df_ventas_gastos

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”,
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [242]:
# Agregamos las columnas
df_ventas_gastos['Columna1'] = df_ventas_gastos['Gastos']/ df_ventas_gastos['Ventas']*100
df_ventas_gastos['Columna2'] = np.where(df_ventas_gastos['Ventas'] >= 30000, 'Meta Superada', 'Meta no Superada')
df_ventas_gastos['Columna3'] = np.where(df_ventas_gastos['Gastos'] > df_ventas_gastos['Ventas'], df_ventas_gastos['Gastos']-df_ventas_gastos['Ventas'], '')

df_ventas_gastos

       Mes  Ventas  Gastos    Columna1          Columna2 Columna3
0    Enero   30500   22000   72.131148     Meta Superada
1  Febrero   35600   23450   65.870787     Meta Superada
2    Marzo   28300   18100   63.957597  Meta no Superada
3    Abril   33900   35700  105.309735     Meta Superada     1800
4     Mayo   42500   32450   76.352941     Meta Superada

In [243]:
# Total de ventas de los últimos 3 meses
total_ventas_ultimos_3meses = df_ventas_gastos[2:]['Ventas'].sum()
total_ventas_ultimos_3meses

104700

In [244]:
# Total de gastos de febrero a abril
total_gastos_feb_mar_abr = df_ventas_gastos[1:4]['Gastos'].sum()
total_gastos_feb_mar_abr

77250

## Ejercicio Nº 4:
Con el siguiente fichero Data - Riesgos.csv contiene información de riesgo de clientes de un banco. Escribir un programa con los
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el
número de datos que contiene, los nombres de sus columnas
y filas, los tipos de datos de las columnas, mostrar las 10
primeras filas y las 10 últimas filas, verificar si tiene datos
perdidos/nulos.
3. Extraer las 100 primeras filas y almacenarlas en un contenedor.

In [245]:
# Cargamos los datos en un Dataframe
dataframe_riesgos = pd.read_csv('C:/Users/yesel/OneDrive/Documentos/CUADERNOS_JUPYTER/Data - Riesgos.csv')

# Mostramos la información del DataFrame
dataframe_riesgos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             4500 non-null   int64
 1   edad           4487 non-null   float64
 2   meses          4494 non-null   float64
 3   max_ant        4496 non-null   float64
 4   ingreso        4495 non-null   float64
 5   score          4495 non-null   float64
 6   tipo_vivienda  4500 non-null   int64
 7   zona           4494 non-null   float64
 8   nivel          4500 non-null   int64
 9   riesgo         4500 non-null   int64
dtypes: float64(6), int64(4)
memory usage: 351.7 KB

In [205]:
# Mostramos las primeras 10 filas
print(dataframe_riesgos.head(10))
print("-"*100)
# Mostramos las últimas 10 filas
print(dataframe_riesgos.tail(10))

     ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
----------------------------------------------------------------------------------------------------
        ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0

In [246]:
# Verificamos datos perdidos o nulos
print(dataframe_riesgos.isnull())
total_datos_perdidos = dataframe_riesgos.isnull().sum()
print(total_datos_perdidos)

         ID   edad  meses  max_ant  ingreso  score  tipo_vivienda   zona  \
0     False  False  False    False    False  False          False  False
1     False  False  False    False    False  False          False  False
2     False  False   True    False    False  False          False  False
3     False  False  False    False    False  False          False  False
4     False  False  False    False    False  False          False  False
...     ...    ...    ...      ...      ...    ...            ...    ...
4495  False  False  False    False    False  False          False  False
4496  False  False  False    False    False  False          False  False
4497  False  False  False    False    False  False          False  False
4498  False  False  False    False    False  False          False  False
4499  False  False  False    False    False  False          False  False

      nivel  riesgo
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
...     ...     ...
4495  False   False
4496  False   False
4497  False   False
4498  False   False
4499  False   False

[4500 rows x 10 columns]
ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

In [249]:
# Se almacenan los primeros 100 registros en un contenedor
filas_100 = dataframe_riesgos.head(100)
print(filas_100)

      ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0   2208  33.0  128.0      6.0  3230.00  192.0              2   3.0      2
1   2211  32.0  185.0      7.0  2930.00  217.0              2   1.0      5
2   2212  28.0    NaN      7.0  1883.70  202.0              2   1.0      2
3   2216  56.0  200.0      0.0   850.00  194.0              2   1.0      5
4   2218  32.0  131.0     65.0  3200.00  200.0              2   1.0      2
..   ...   ...    ...      ...      ...    ...            ...   ...    ...
95  2387  41.0  141.0      0.0  3420.36  214.0              4   2.0      1
96  2389  29.0  159.0     17.0  1157.06  163.0              2   4.0      2
97  2391  27.0  122.0      NaN  2000.00  188.0              2   1.0      2
98  2392  35.0  111.0      0.0   812.53  177.0              2   1.0      5
99  2394  28.0  137.0      0.0  2000.00  175.0              3   1.0      5

    riesgo
0        1
1        1
2        1
3        1
4        1
..     ...
95       1
96       1
97       1
98       1
99       1

[100 rows x 10 columns]

FIN